* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
    height: 100vh;
    width: 100%;
}
body {
    background: #000 url(stars1.png) repeat top center;
}  
.first {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
#logo {
    position: fixed;
    display: flex;
    z-index: 0;
    width: 1000px;
    top: 120px;
}

/* PLAYX */
#logo path:nth-child(1)
{
    stroke-dasharray: 1526.93px;
    stroke-dashoffset: 1526.93px;
    animation: animate 3s ease forwards 0.5s;
}
#logo path:nth-child(2)
{
    stroke-dasharray: 788.24px;
    stroke-dashoffset: 788.24px;
    animation: animate 3.5s ease forwards 1s;
}
#logo path:nth-child(3)
{
    stroke-dasharray: 1479.34px;
    stroke-dashoffset: 1479.34px;
    animation: animate 4s ease forwards 1.5s;
}
#logo path:nth-child(4)
{
    stroke-dasharray: 1684.08px;
    stroke-dashoffset: 1684.08px;
    animation: animate 4.5s ease forwards 2s;
}
#logo path:nth-child(5)
{
    stroke-dasharray: 2037.78px;
    stroke-dashoffset: 2037.78px;
    animation: 3.4s ease forwards fillWhite 4.5s;
}

/*WEB3.0*/
#logo path:nth-child(6)
{
    stroke-dasharray: 184.56px;
    stroke-dashoffset: 184.56px;
    animation: animate 6.5s ease forwards 3.6s;
}
#logo path:nth-child(7)
{
    stroke-dasharray: 136.90px;
    stroke-dashoffset: 136.90px;
    animation: animate 6.5s ease forwards 3.6s;
}
#logo path:nth-child(8)
{
    stroke-dasharray: 149.92px;
    stroke-dashoffset: 149.92px;
    animation: animate 6.5s ease forwards 3.6s;
}
#logo path:nth-child(9)
{
    stroke-dasharray: 168.61px;
    stroke-dashoffset: 168.61px;
    animation: animate 6.5s ease forwards 3.6s;
}
#logo path:nth-child(10)
{
    stroke-dasharray: 15.80px;
    stroke-dashoffset: 15.80px;
    animation: animate 6.5s ease forwards 3.6s, 3.4s ease forwards fillWhite 7s;;
}
#logo path:nth-child(11)
{
    stroke-dasharray: 219.57px;
    stroke-dashoffset: 219.57px;
    animation: animate 6.5s ease forwards 3.6s;
}
/* | */
#logo path:nth-child(12)
{
    stroke-dasharray: 84.6px;
    stroke-dashoffset: 84.6px;
    animation: 3.4s ease forwards fillWhite 7s;
}
/*GAMING*/
#logo path:nth-child(13)
{
    stroke-dasharray: 197.7px;
    stroke-dashoffset: 197.7px;
    animation: 3.4s ease forwards fillWhite 5.4s;
}
#logo path:nth-child(14)
{
    stroke-dasharray: 140.89px;
    stroke-dashoffset: 140.89px;
    animation: 3.4s ease forwards fillWhite 5.4s;
}
#logo path:nth-child(15)
{
    stroke-dasharray: 163.47px;
    stroke-dashoffset: 163.47px;
    animation: 3.4s ease forwards fillWhite 5.4s;

}
#logo path:nth-child(16)
{
    stroke-dasharray: 71.71px;
    stroke-dashoffset: 71.71px;
    animation: 3.4s ease forwards fillWhite 5.4s;
}
#logo path:nth-child(17)
{
    stroke-dasharray: 114.27px;
    stroke-dashoffset: 114.27px;
    animation: 3.4s ease forwards fillWhite 5.4s;
}
#logo path:nth-child(18)
{
    stroke-dasharray: 169.16px;
    stroke-dashoffset: 169.16px;
    animation: 3.4s ease forwards fillWhite 5.4s;
}

/* | */
#logo path:nth-child(19)
{
    stroke-dasharray: 84.6px;
    stroke-dashoffset: 84.6px;
    animation: 3.4s ease forwards fillWhite 7s;
}
/* NEWS */
#logo path:nth-child(20)
{
    stroke-dasharray: 166.97px;
    stroke-dashoffset: 166.97px;
    animation: 3.4s ease forwards fillWhite 6s;
}
#logo path:nth-child(21)
{
    stroke-dasharray: 136.9px;
    stroke-dashoffset: 136.9px;
    animation: 3.4s ease forwards fillWhite 6s;
}
#logo path:nth-child(22)
{
    stroke-dasharray: 155.2px;
    stroke-dashoffset: 155.2px;
    animation: 3.4s ease forwards fillWhite 6s;
}
#logo path:nth-child(23)
{
    stroke-dasharray: 129.9px;
    stroke-dashoffset: 129.9px;
    animation: 3.4s ease forwards fillWhite 6s;
}
/* | */
#logo path:nth-child(24)
{
    stroke-dasharray: 84.6px;
    stroke-dashoffset: 84.6px;
    animation: 3.4s ease forwards fillWhite 7s;
}
/* HUB */
#logo path:nth-child(25)
{
    stroke-dasharray: 157.77px;
    stroke-dashoffset: 157.77px;
    animation: 3.4s ease forwards fillWhite 6.5s;
}
#logo path:nth-child(26)
{
    stroke-dasharray: 114.29px;
    stroke-dashoffset: 114.29px;
    animation: 3.4s ease forwards fillWhite 6.5s;
}
#logo path:nth-child(27)
{
    stroke-dasharray: 149.92px;
    stroke-dashoffset: 149.92px;
    animation: 3.4s ease forwards fillWhite 6.5s;
}
/* | */
#logo path:nth-child(28)
{
    stroke-dasharray: 84.6px;
    stroke-dashoffset: 84.6px;
    animation: 3.4s ease forwards fillWhite 7s;
}

@keyframes animate
{
    to {
        stroke-dashoffset:  0;
    }
}
@keyframes fillWhite
{
    
    to {
        fill: #fff;
    }
}
.second {
    min-height: 60vh;
    width: 100%;
    display: flex;
    position: relative;
}

.secondimg {
    position: relative;
    display: flex;
}

.secondimg img {
    object-fit: cover;
    z-index: 1;
}
.text {
    color: white;
}
.mvx {
    display: flex;
    position: static;
}
.mvx img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    top: 743px;
    position: fixed;
    left: 731px;
    background: transparent;
}
.second {
    min-height: 70vh;
    width: 100%;
    box-shadow: -1px -2px 20px 0px #00daff;
    border-radius: 10px;
}
.hubtext {
    position: absolute;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}
.img img {
    object-fit: cover;
    width: 100%;
    position: relative;
    border-radius: 10px;
}
.third {
    min-height: 70vh;
    width: 100%;
    box-shadow: -1px -2px 20px 0px #00daff;
    z-index: -1;
    position: relative;

}
.lobbytext {
    position: absolute;
    text-align: center;
    justify-content: center;
    width: 100%;
}
h2 {
    color: #01f9dcc5;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 3px;
    text-shadow: 0px 0px 4px #01fbde;
    position: relative;
    height: 100px;
    top: 408px;
    text-decoration: none;
    width: 200px;
    left: 661px;
    padding: 20px;
    transition: 0.5s;
    z-index: 1;
    background: transparent;
    text-shadow: 0 0 10px black;
    
}
h2:hover {
    color: #ff5f5f;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 3px;
    position: relative;
    height: 100px;
    top: 408px;
    text-decoration: none;
    width: 200px;
    left: 700px;
    padding: 20px;
    transition: 0.5s;
    z-index: 1;
    background: transparent;
    text-shadow: 0 0 10px black;

}
a {
    justify-content: center;
    position: relative;
    justify-items: center;
}
.hubtext a{
    text-decoration: none;
}
.fourth {
    background: transparent;
    box-shadow: -1px -2px 20px 0px #00daff;
    position: relative;
}
.lobbytext a{
    text-decoration: none;
}
h3 {
    color: #01f9dc;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 3px;
    text-shadow: 0px 0px 4px #01fbde;
    position: relative;
    height: 100px;
    top: 379px;
    text-decoration: none;
    width: 200px;
    left: 616px;
    padding: 20px;
    transition: 0.5s;
    z-index: 1;
    background: transparent;
    text-shadow: 0 0 10px black;
}
h3:hover {
    color: #ff5f5f;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 3px;
    position: relative;
    height: 100px;
    top: 379px;
    text-decoration: none;
    width: 200px;
    left: 616px;
    padding: 20px;
    transition: 0.5s;
    z-index: 1;
    background: transparent;
    text-shadow: 0 0 10px black;
}
.non {
    display: none;
}
.navbar {
    width: 66px;
    height: 43vh;
    position: fixed;
    z-index: 10;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    background: #01fbde1a;
    animation: time ease forwards 11s;
    top: 253px;
    box-shadow: inset 0px 0px 5px #01fbde;
}


header {
    position: relative;
    display: contents;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 335px;
    background: #ffffff00;
    animation: time ease forwards 11s;
    height: 80vh;
}

.nav-item {
    height: 64px;
    background: transparent;
    position: relative;
    bottom: 327px;
}
.nav-item:last-child {
    margin-top: auto;
}
ion-icon {
    height: 40px;
    color: #01fbde;
    animation: time ease forwards 11s;
    background: transparent;
    width: 63px;
}
ion-icon:hover {
    height: 40px;
    color: #ff5f5f;
    background: transparent;
    transform: rotate(360deg);
    transition: 3s;
    
}
.link-text {
    color: #01fbde;
    animation: time ease forwards 0.5s;
    display: none;
    font-size: 13px;
}
.navbar:hover .link-text {
    display: block;
    background: transparent;
}
.nav-link {
    filter: brightness(100);
    background: transparent;
    text-decoration: none;
    height: 0;
    display: grid;
}
.nav-link:hover {
    filter: grayscale(0%);
    background: transparent;
}
body::-webkit-scrollbar {
    width: 1rem;
}
body::-webkit-scrollbar.track {
    background: #000000;
}
body::-webkit-scrollbar-thumb {
    background: #01fbde;
}
@keyframes time
{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100% {
        opacity: 100;
    }

}
.fifth {
    background: transparent;
    box-shadow: -1px -2px 20px 0px #00daff;
    position: relative;
    text-align: center;
}
.markettext a{
    text-decoration: none;
}
h5 {
    color: #01f9dc;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 3px;
    text-shadow: 0px 0px 4px #01fbde;
    position: relative;
    height: 100px;
    top: 354px;
    text-decoration: none;
    width: 200px;
    left: 400px;
    padding: 20px;
    transition: 0.5s;
    z-index: 1;
    background: transparent;
    text-shadow: 0 0 10px black;
}
h5:hover {
    color: #ff5f5f;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 3px;
    position: relative;
    height: 100px;
    top: 354px;
    text-decoration: none;
    width: 200px;
    left: 400px;
    padding: 20px;
    transition: 0.5s;
    z-index: 1;
    background: transparent;
    text-shadow: 0 0 10px black;
}
.fifth .img {
    position: relative;
    bottom: 885px;
}
p {
    position: relative;
    color: white;
}


.lobbytext p {
    z-index: 1;
    background: transparent;
    font-size: 20px;
    top: 678px;
    text-shadow: 0 0 7px black;
}
.hubtext p {
    z-index: 1;
    background: transparent;
    font-size: 20px;
    top: 678px;
    text-shadow: 0 0 7px black;
}
.markettext p {
    z-index: 1;
    background: transparent;
    font-size: 20px;
    top: 678px;
    text-shadow: 0 0 7px black;
}
.navbar-hub {
    width: 66px;
    height: 36vh;
    position: fixed;
    z-index: 11;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    background: #01fbde1a;
    top: 300px;
    box-shadow: inset 0px 0px 5px #01fbde;
}
.navbar-hub ion-icon {
    height: 40px;
    color: #01fbde;
    background: transparent;
    width: 63px;
    animation: none;
}
#hublogo {
    position: fixed;
    display: flex;
    z-index: 1;
    width: 1000px;
}
.navbar-nav-hub {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 335px;
    background: #ffffff00;
    height: 74vh;
}
.nav-link-hub {
    filter: brightness(100);
    background: transparent;
    text-decoration: none;
}
.navbar-lobby {
    width: 66px;
    height: 36vh;
    position: fixed;
    z-index: 1;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    background: #01fbde1a;
    top: 300px;
    box-shadow: inset 0px 0px 5px #01fbde;
}
.navbar-lobby ion-icon {
    height: 40px;
    color: #01fbde;
    background: transparent;
    width: 63px;
    animation: none;
}
#lobbylogo {
    position: fixed;
    display: flex;
    z-index: 0;
    width: 1000px;
}
.navbar-nav-lobby {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 335px;
    background: #ffffff00;
    height: 74vh;
}
.nav-link-lobby {
    filter: brightness(100);
    background: transparent;
    text-decoration: none;
}
.navbar-market {
    width: 66px;
    height: 36vh;
    position: fixed;
    z-index: 1;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    background: #01fbde1a;
    top: 300px;
    box-shadow: inset 0px 0px 5px #01fbde;
}
.navbar-market ion-icon {
    height: 40px;
    color: #01fbde;
    background: transparent;
    width: 63px;
    animation: none;
}
#marketlogo {
    position: fixed;
    display: flex;
    z-index: 0;
    width: 1000px;
}
.navbar-nav-market {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 335px;
    background: #ffffff00;
    height: 74vh;
}
.nav-link-market {
    filter: brightness(100);
    background: transparent;
    text-decoration: none;
}
.navbar-profile {
    width: 66px;
    height: 36vh;
    position: fixed;
    z-index: 1;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    background: #01fbde1a;
    top: 300px;
    box-shadow: inset 0px 0px 5px #01fbde;
}
.navbar-profile ion-icon {
    height: 40px;
    color: #01fbde;
    background: transparent;
    width: 63px;
    animation: none;
    position: relative;
}
#profilelogo {
    position: fixed;
    display: flex;
    z-index: 0;
    width: 1000px;
}
.navbar-nav-profile {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 335px;
    background: #ffffff00;
    height: 74vh;
}
.nav-link-profile {
    filter: brightness(100);
    background: transparent;
    text-decoration: none;
}
.nav-linkA {
    filter: brightness(100);
    background: transparent;
    text-decoration: none;
}
.nav-linkA ion-icon {
    color: #f90101;;
    
}
.nav-linkB ion-icon {
    color: #ff5f5f;
    
}
.nav-linkC ion-icon {
    color: #ff5f5f;
}
.nav-linkD ion-icon {
    color: #ff5f5f;
    
}
.nav-linkA{
    background: transparent;
}
.nav-linkB{
    background: transparent;
}
.nav-linkC{
    background: transparent;
}
.nav-linkD
{
    background: transparent;
}
.content {
    display: flex;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.face {
    z-index: 10;
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    background: transparent;
}

.face img {
    object-fit: cover;
    border-radius: 39px;
    width: 415px;
    height: 725px;
    top: 100px;
    position: relative;
    box-shadow: 0px 0px 12px #01f9dc;
    filter: brightness(0.5);
}
#h7 {
    position: relative;
    display: flex;
    left: -55px;
    background: transparent;
    text-align: center;
    top: 545px;
    font-size: x-large;
}
.face img:hover {
    object-fit: cover;
    border-radius: 39px;
    width: 415px;
    height: 725px;
    top: 100px;
    position: relative;
    box-shadow: 0px 0px 28px #ff5f5f;
    filter: none;
    cursor: pointer;
}
@keyframes move-clouds-back {
    from {background-position: 0 0;}
    to {background-position: 10000px 0;}
}

@keyframes move-twinkle-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}

.stars {
    position: fixed;
}
.twinkling {
    position: fixed;
    background: transparent url(twinkling.png) repeat top center;
    animation: move-twinkle-back 200s linear infinite;
}
.clouds  {
    position: fixed;
}
body {
    background: #000 url(stars1.png) repeat top center;
}
.tradingview-widget-container {
    position: absolute;
}
.social {
    display: flex;
    position: absolute;
    top: 371px;
    z-index: 1;
    flex-direction: column;
    height: 10px;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    padding-left: 1616px;
}
.content-market {
    display: flex;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.face-market  {
    z-index: 10;
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: transparent;
    flex-wrap: wrap;
}

.face-market img {
    object-fit: cover;
    border-radius: 39px;
    width: 415px;
    height: 725px;
    top: 100px;
    position: relative;
    box-shadow: 0px 0px 12px #01f9dc;
    filter: brightness(0.5);
    animation: animate 5s linear infinite;
}
#h7 {
    position: relative;
    display: flex;
    left: -55px;
    background: transparent;
    text-align: center;
    top: 545px;
    font-size: x-large;
}
.face-market img:hover {
    object-fit: cover;
    border-radius: 39px;
    width: 415px;
    height: 725px;
    top: 100px;
    position: relative;
    box-shadow: 0px 0px 28px #ff5f5f;
    filter: brightness(none);
    cursor: pointer;
    animation: animate 5s linear infinite;
}
